@font-face {
  font-family: "Race Sport";
  src: url("../../fonts/Race_Sport_Free_Regular.ttf") format("TrueType");
  font-display: swap;
}

@font-face {
  font-family: "Alien Robot";
  src: url("../../fonts/Alien_Robot_Regular.ttf") format("TrueType"),
    url("../../fonts/Alien_Robot_Regular.otf") format("OpenType");
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../../fonts/Century_Gothic_Regular.ttf") format("TrueType");
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?qeeapn");
  src: url("../../fonts/icomoon.eot?qeeapn#iefix") format("embedded-opentype"),
    url("../../fonts/icomoon.ttf?qeeapn") format("truetype"),
    url("../../fonts/icomoon.woff?qeeapn") format("woff"),
    url("../../fonts/icomoon.svg?qeeapn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$ff-race-sport: "Race Sport", sans-serif;
$ff-alien-robot: "Alien Robot", sans-serif;
$ff-century-gothic: "Century Gothic", sans-serif;
